In [11]:
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import requests
import os
import json

## Load Dataset

In [3]:
load_dotenv('.env')
TOKEN=os.getenv('TOKEN')

In [4]:
URL=f"https://api.tiingo.com/tiingo/crypto/prices"

params = {
    "tickers":"btcusd",
    "startDate":"2024-01-02",
    "token":TOKEN,
    "resampleFreq":"1day"
}

headers = {
    'Content-Type': 'application/json'
}

In [7]:
response = requests.get(URL, headers=headers, params=params)

In [20]:
df = pd.DataFrame(response.json()[0]['priceData'])

In [21]:
df.head()

,date,open,high,low,close,volume,volumeNotional,tradesDone
0,2024-01-02T00:00:00+00:00,44211.061415,45923.924577,44188.523853,44974.051985,40068.108280,1.802025e+09,543927.0
1,2024-01-03T00:00:00+00:00,44975.949864,45521.023287,40619.777448,42862.351210,44075.068839,1.889161e+09,650108.0
2,2024-01-04T00:00:00+00:00,42861.297084,44799.410744,42654.412086,44195.296702,24879.776525,1.099569e+09,385907.0
3,2024-01-05T00:00:00+00:00,44199.961673,44431.360637,42455.208228,44186.809326,25565.207217,1.129645e+09,395564.0
4,2024-01-06T00:00:00+00:00,44188.013965,44258.936266,43439.232078,43994.115485,7832.320838,3.445760e+08,190681.0